body {
  color: hsl(240, 100%, 5%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 2% 10%;
  position: relative;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  color: hsl(35, 77%, 62%);
  padding-bottom: 2rem;
}

h3 {
  color: hsl(236, 13%, 42%);
  margin: 0;
}

.menu {
  float: right;
}

a {
  color: hsl(240, 100%, 5%);
  font-size: 1.25rem;
  text-decoration: none;
}

nav a {
  margin-left: 2rem;
}

nav a:hover, .bottom a:hover {
  color: hsl(5, 85%, 63%);
}

.desktop-img {
  max-width: 100%;
}

.mobile-img {
  max-width: 100%;
  display: none;
}

nav, .w3-col {
  padding: 0 1rem;
}

.hamburger-button, .close-button {
  display: none;
}

.top {
  position: relative;
}

.right-side {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 2rem;
}

.right-side hr {
  padding: .75rem 0;
}

.right-side a {
  color: hsl(36, 100%, 99%);
}

.right-side a:hover {
  color: hsl(35, 77%, 62%);
}

.right-side a, .bottom a {
  font-weight: 700;
}

.right-side p {
  padding-top: .5rem;
}

.header {
  padding-top: 2rem;
}

.header a {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  letter-spacing: .125rem;
  padding: .25rem 1.5rem;
  position: absolute;
  bottom: 32px;
  text-transform: uppercase;
}

.header a:hover {
  background-color: hsl(240, 100%, 5%);
}

.bottom img {
  float: left;
  margin-right: 1rem;
  height: auto;
  width: 32%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
